*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
.forbackground-img{
    
    width: 100%;
    background-image: url("home.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  
  
    
}
.forfirstcolom{
    display: flex;
   
    align-items: center;
    height: 80vh;
}
.forgreeting{
    box-shadow: 0px 4px 24px 1px rgba(0,0,0,0.28);
    border: 1px solid rgba(255, 255, 255, 0.5);
    
    animation: btn 3ms infinite ease-in-out;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 12px;
    background-color: linear-gradient( rgba(75, 41, 68),rgb(100, 92, 92));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 250px;
}

.forimg{
    width: 420px;
    height: 420px;
}
.forimg{
    animation-name: space;
    animation-duration: 2s;
    transition: 1s;
    animation-iteration-count: infinite;
    
}
.forlogo{
    width: 44ch;
    overflow: hidden;
    white-space: nowrap;
    border-right:2px solid whitesmoke;

    animation: typewriting 5s steps(36) infinite alternate ;
}
.forbtn-img img {
    width: 120px;
    height: 120px;

}
.forbtn-img{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;

}
.forrocket-img{
    animation: spaceeffect 2s infinite;
    transition: 1s;
}
.forrocket-img2{
    animation: moving  2s ease-in 1;
    transition: 1s;
}
@keyframes moving{
    100%{
        transform: translateX(900px);
    }
}
@keyframes spaceeffect{
    0%{
        transform: translateY(-6px) rotateX(360deg) ;
    }
    
    50%{
        transform: translateY(6px) ;
    }
   
    100%{
        transform: translateY(-6px) rotateX(360deg);
    }
}

@keyframes typewriting{
    from{
        width: 0px;
        
    }
    
}

@keyframes btn{
    to{
      background-color: rgba(79,72,72,0.79);
    }
  }

@keyframes space{
    0%{
        transform: translateY(-20px) ;
    }
    
    50%{
        transform: translateY(20px);
    }
   
    100%{
        transform: translateY(-20px);
    }
    
  
   
}
@media all and  (min-width:768px){
    .forbackground-img{
        height: 100vh;
       
    }
    

}